body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #020617, #0f172a);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #38bdf8;
  margin: 20px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

input {
  display: block;
  margin: 10px;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}